* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  max-width: 375px;
  padding: 20px;
  border: 1px solid var(--gray-950);
  border-radius: 15px;
  box-shadow: 7px 7px;
}

.ilustration {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.learning {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 12px;
}

.date {
  margin-bottom: 16px;
  font-size: 14px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 18px;
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.description {
  margin-bottom: 22px;
  font-size: 16px;
  color: var(--gray-500);
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  font-size: 14px;
}

.author-pic {
  width: 30px;
}
