* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.card {
  height: 500px;
  width: 300px;
  background-color: red;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.qr-code {
  width: 100%;
  border-radius: 10px;
}
