* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);

  font-family: "Outfit", sans-serif;
}

.card {
  height: 480px;
  width: 320px;
  background-color: #ffffff;
  text-align: center;
  padding: 17px;
  border-radius: 20px;
}

.qr-code {
  width: 100%;
  border-radius: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: #35455e;
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #979aa0;
}

.card-text {
  padding: 15px;
}
