* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: min(320px, 100% - 32px);
  background-color: #ffffff;
  text-align: center;
  padding: 17px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.qr-code {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}

.card-text {
  padding: 15px;
  line-height: 1.5;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
