body {
  text-align: center;
  font-family: "Bonheur Royale", cursive;
  background: linear-gradient(#ff6b6c, #ffc145);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #5b5f97;
  margin-bottom: 10px;
}

#bday-age {
  background: #5b5f97;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #5b5f97;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-cheers {
  height: 200px;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("images/gift.png");
  background-size: cover;
}

#gift-img-happy:hover {
  background-image: url("images/happy.gif");
}

#gift-img-scared:hover {
  background-image: url("images/scared.gif");
}

#gift-img-virgin:hover {
  background-image: url("images/virgin.jpg");
}

#gift-img-badass:hover {
  background-image: url("images/badass.gif");
}

#gift-img-kittens:hover {
  background-image: url("images/kittens.gif");
}

#footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: white;
}
