/* .box {
    padding: 20px;
    border: 10px solid darkmagenta;
    margin: 30px;
} */

.box {
  padding: 20px 10px 5px 15px;
  border: 10px solid darkmagenta;
  margin: 10px 20px 40px 30px;
  display: inline-block;
}

html,
body {
  height: 100%;
}

.box-one {
  /* height: 100%; */
  height: 300px;
  width: 50%;
  display: none;
  box-sizing: border-box;
}

div:hover:last-of-type {
  border-style: dotted;
}
