* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
}

h1,
h2 {
  font-family: "Young Serif", serif;
}

h1 {
  margin-bottom: 2.2rem;
  color: var(--stone-900);
  font-size: 4.2rem;
}

h2 {
  margin-bottom: 1.6rem;
  color: var(--brown-800);
  font-size: 3.2rem;
}

p,
li,
td {
  font-size: 1.6rem;
}

ul,
ol {
  padding: 1.3rem;
}

li {
  padding-left: 1.2rem;
}

.main-container {
  max-width: 120rem;
  margin: 9.6rem auto;
  padding: 4.8rem;
  background-color: var(--white);
  border-radius: 3.2rem;
}

.image-omelette {
  width: 100%;
  border-radius: 1.6rem;
}

.preparation {
  padding: 2.8rem;
  background-color: var(--rose-50);
}

.preparation-time {
  color: var(--rose-800);
  font-size: 2.4rem;
  font-weight: 600;
}

.bold-600 {
  font-weight: 600;
}

.nutrition-table {
  width: 100%;
}

.nutrition-table-numbers {
  color: var(--brown-800);
  font-weight: 600;
}
