* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

main {
  background-color: var(--grey-900);
  min-width: 38rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 37.5rem;
  color: var(--white);
  background-color: var(--grey-800);
  padding: 3.2rem;
  border-radius: 1rem;
}

.profile {
  text-align: center;
}

.profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.profile-name {
  font-weight: 600;
  margin-bottom: 1rem;
}

.profile-place {
  margin-bottom: 2rem;
  color: var(--green);
  font-size: 1.2rem;
  font-weight: 600;
}

.profile-description {
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.links-list-item {
  list-style: none;
}

.link:link,
.link:visited {
  display: inline-block;
  background-color: var(--grey-700);
  /* width: 27rem; */
  width: 100%;
  padding: 1.1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 0.7rem;
  transition: all 0.5s;
}

.link:hover,
.link:active {
  color: var(--grey-900);
  background-color: var(--green);
}
