/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

:root {
  --light: #f1faee;
  --aqua: #a8dadc;
  --light-blue: #457b9d;
  --dark-blue: #1d3557;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero {
  background-image: url("images/Kraljevo-museum.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title-primary {
  background-color: var(--dark-blue);
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0 16px;
}

.title-secondary {
  background-color: var(--light-blue);
  border-radius: 10px;
  padding: 8px 32px;
  margin: 0 16px;
}

.title-tertiary {
  margin-bottom: 54px;
}

.activities {
  background-color: var(--light);
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities h3 {
  margin-top: 0;
}

.activities-options {
  display: flex;
  justify-content: center;
  gap: 32px;
  max-width: 800px;
}

.activity {
  width: 33%;
}

.activities-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.guide {
  padding: 50px;
}

.guide-profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--aqua);
  padding: 20px;
  gap: 7px;
  border-radius: 10px;
  box-shadow: 0 6px 0 var(--dark-blue);
}

.guide-profile-img {
  width: 50%;
  border-radius: 10px;
}

.quote {
  font-style: italic;
}
