/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

:root {
  --light: #f1faee;
  --aqua: #a8dadc;
  --light-blue: #457b9d;
  --dark-blue: #1d3557;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.hero {
  background-image: url("images/Kraljevo-museum.jpg");
  background-size: cover;
  height: 500px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-primary {
  background-color: var(--dark-blue);
}

.title-secondary {
  background-color: var(--light-blue);
}

.activities {
  background-color: var(--light);
}

.activities-img {
  border-radius: 50%;
}
